<?xml version="1.0" encoding="utf-8"?>

<!--
    TODO: Before you run your application, you need a Project ID and a Google Cloud Messaging API key.

    To get one, follow this link, follow the directions and press "Create" at the end:
        https://console.developers.google.com/flows/enableapi?apiid=googlecloudmessaging&keyType=SERVER_SIDE&r=0.0.0.0/0

    Once you have your Application ID and GCM API key (which starts with "AIza..."), replace them in this file.
-->

<appengine-web-app xmlns="http://appengine.google.com/ns/1.0">
    <application>YOUR_PROJECT_ID_HERE</application>
    <version>9</version>
    <threadsafe>true</threadsafe>

    <system-properties>
        <property name="java.util.logging.config.file" value="WEB-INF/logging.properties" />
        <property name="gcm.api.key" value="YOUR_KEY_HERE" />
        <property name="admin.email" value="YOUR_EMAIL_HERE@example.com" />
    </system-properties>
</appengine-web-app>