/build
backend.iml

# appengine-settings.gradle contains private IDs and keys
appengine-settings.gradle

# local_db.bin can't be under /build directory because every new build would delete it
local_db.bin
