<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- for Firebase Analytics (it's not added automatically because an older SDK version is used) -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        android:dataExtractionRules="@xml/backup_rules"
        tools:targetApi="UPSIDE_DOWN_CAKE"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"
            android:label="@string/activity_about_name"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />

        <service android:name=".fcm.MyFcmListenerService"
            android:foregroundServiceType="remoteMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".CancelNotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name=".PostponeNotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <meta-data android:name= "delivery_metrics_exported_to_big_query_enabled"
            android:value="true" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <package android:name="com.zentity.tmcz.kaktus" />
    </queries>

</manifest>
