package eu.zkkn.android.kaktus;

/**
 * App Configuration
 */
public class Config {

    /**
     * Debug log tag
     */
    public static final String TAG = "DobijeckaLog";

    /**
     * Backend base URL. It corresponds to Project ID
     * For example: https://<ProjectID>.appspot.com/
     */
    public static final String BACKEND_ROOT_URL = "http://localhost:8080/";

    /**
     * URL to Kaktus dobijecka's web
     */
    public static final String KAKTUS_DOBIJCECKA_URL = "https://www.mujkaktus.cz/chces-pridat";

    /**
     * URL to Kaktus' Facebook page
     */
    public static final String KAKTUS_FACEBOOK_URL = "https://www.facebook.com/kaktus";

    /**
     * Facebook App Access Token
     * https://developers.facebook.com/docs/facebook-login/access-tokens#apptokens
     * Use App Access Token, so that users do not have to log in. Users don't grant any permissions
     * to this FB App, so it shouldn't be a problem.
     */
    //TODO: create proxy on backend between mobile app and FB API, so FB App Access Token wouldn't have to be here
    public static final String FB_ACCESS_TOKEN = "...";

}
