package eu.zkkn.android.kaktus;

/**
 * App Configuration
 */
public class Config {

    /**
     * Debug log tag
     */
    public static final String TAG = "DobijeckabLog";

    /**
     * Backend base URL. It corresponds to Project ID
     * For example: https://<ProjectID>.appspot.com/
     */
    public static final String BACKEND_ROOT_URL = "http://localhost:8080/";

    /**
     * Facebook App Access Token
     * https://developers.facebook.com/docs/facebook-login/access-tokens#apptokens
     * Use App Access Token, so that users do not have to log in
     */
    public static final String FB_ACCESS_TOKEN = "...";

}
