package eu.zkkn.android.kaktus;

/**
 * App Configuration
 */
public class Config {

    /**
     * Debug log tag
     */
    public static final String TAG = "DobijeckabLog";

    /**
     * Backend base URL. It corresponds to Project ID
     * For example: https://<ProjectID>.appspot.com/
     */
    public static final String BACKEND_ROOT_URL = "http://localhost:8080/";

    /**
     * This is the Project Number from the Google Developers Console
     * https://console.developers.google.com/project
     *
     * @deprecated Firebase Cloud Messaging uses project number from google-services.json
     */
    // @Deprecated
    // public static final String GCM_SENDER_ID = "...";

    /**
     * Facebook App Access Token
     * https://developers.facebook.com/docs/facebook-login/access-tokens#apptokens
     * Use App Access Token, so that users do not have to log in
     */
    public static final String FB_ACCESS_TOKEN = "...";

}
